/* ==== General ==== */

/* Fonts */

body {
    position: relative;
}

body,
p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.font-alt {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

/* Button */
.btn-round {
    border-radius: 5px;
}

/* Colors */

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(248,249,250,0.9);
    position: absolute;
    top: 0;
}

a .text-white:hover,
a.text-white:hover {
    color:#dc3545 !important;
    text-decoration: none;
}

/* Section */

section {
    padding: 140px 0;
}

/* Helper Class */


nav {
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.d-relative {
    position: relative;
}

/* ==== Navigation ==== */

.logo-font {


}

.navbar.navbar-light button:hover,
.navbar.navbar-light button:focus,
.navbar.navbar-light .nav-link:hover {
    color: #dc3545;
}

.navbar-nav .badge {
    position: absolute;
    left: 25px;
    bottom: 25px;
    padding-right: .5em;
    padding-left: .5em;
}

.navbar-nav .icon-basket {
    line-height: 0.8;
    font-size: 1.5em;
}

/* ==== Hero ==== */

.hero-bg {
    background: url('../img/bg-hero.jpg') 50% 0 fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

#home .container {
    height: 100%
}

#home .row {
    height: 80%;
}

.navbar .navbar-nav .nav-link.active {
    color: #dc3545;
}

/* ==== About ==== */

.img-bg {
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    width: 50vw;
}

/* ==== Our Vision ==== */

.beans-bg {
    background: url('../img/bg-bean.jpg') 50% 0 fixed no-repeat;
    height: 100%;
    background-size: cover;
}

#beans .rounded-circle {
    border: 8px solid #FFF;
}

/* ==== Testimonials ==== */

.testimonials-bg {
    background: url('../img/bg-testimonials.jpg') 50% 0 fixed no-repeat;
    height: 100%;
    background-size: cover;
}

#testimonial-carousel .carousel-control-prev,
#testimonial-carousel .carousel-control-next {
    width: 1%;
    color: #dc3545;
}

#testimonial-carousel .carousel-indicators {
    bottom: -50px;
}

/* Round Carousel Slider Indicators  */
#testimonial-carousel .carousel-indicators li {
    max-width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #dc3545;
}

/* ==== Impressions ==== */

.card-columns {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

.card-columns .card {
    margin-bottom: -1px;
    border: 5px solid white;
}

/* ==== Newsletter ==== */

.newsletter-bg {
    background: url('../img/bg-newsletter.jpg') 50% 0 fixed no-repeat;
    height: 100%;
    background-size: cover;
}

/* ==== Modal ==== */

.modal-open {
    padding-right: 0 !important;
}

/* ==== Contact ==== */

.input-group-lg>.form-control{
    border-right: 30px;
}

.input-group-lg .input-group-prepend .input-group-text {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* ==== Footer ==== */

.bg-black {
    background-color: #333;
}

/* ==== Back to Top Button ==== */
#back-to-top-btn {
    display: none;
    position: fixed;
    right: 40px;
    bottom: 40px;
}
